<launch>

  <!--- Sim Time -->
  <param name="/use_sim_time" value="true" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="utm_to_UTM_52S" args="0 0 45 0 0 0 1 utm UTM_52S" />
  
  <!-- robot_locaization -->
  <include file="$(find robot_localization)/launch/loam_ekf_odom.launch"> </include>
  <include file="$(find robot_localization)/launch/loam_ekf_map.launch"> </include>
  <include file="$(find robot_localization)/launch/navsat_transform_thesis.launch"> </include>

  <!-- Start RViz
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find launcher)/rviz/rl_test.rviz" output="screen" /> -->


</launch>
