<launch>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_gps" args="0 0 1.88 0 0 0 1 base_link gps_link" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_map" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/loam_ekf_map.yaml" />

    <remap from="odometry/filtered" to="/odometry/filtered/global"/>
    <remap from="/imu/data" to="/imu"/>

  </node>

</launch>
